<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBasic12"
        tools:targetApi="31">

        <activity
            android:name=".classassignments.assignment02.activity.FrameLayoutExercise"
            android:exported="true">
            <intent-filter> <!-- Añadir este intent-filter -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".classassignments.assignment02.activity.RelativeLayoutExercise"
            android:exported="true" />

        <activity
            android:name=".classassignments.assignment02.personslist.PersonListActivity"
            android:exported="true">
            <!-- Quita este intent-filter si no deseas que sea la actividad principal -->
            <intent-filter> <!-- Resaltar -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> <!-- Resaltar -->
        </activity>

        <activity
            android:name=".classassignments.assignment02.graphic_components.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".classassignments.assignment02.graphic_components.ComponentsActivity"
            android:exported="true" />

        <activity
            android:name=".classassignments.assignment02.graphic_components.ConstraintLayoutActivity"
            android:exported="true" />

        <activity
            android:name=".classassignments.assignment02.graphic_components.RelativeLayoutActivity"
            android:exported="true" />

        <activity
            android:name=".classassignments.assignment02.graphic_components.LinearLayoutActivity"
            android:exported="true" />

        <activity
            android:name=".classassignments.assignment02.graphic_components.FrameLayoutActivity"
            android:exported="true" />
    </application>

</manifest>
